.header {
  box-shadow: 0 0 2px 0 var(--bg-secondary-color);

  /* background-color: var(--bg-main-color); */
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(https://top-fon.com/uploads/posts/2022-09/1663858283_1-top-fon-com-p-fon-gryazno-serii-foto-1.jpg);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
